<ion-header>
 <ion-grid fixed>
   <ion-row>
     <ion-col size-xs="5" size-md="3">
      <ion-item>
        <ion-button (click)="setWeather()" expand="block"  shape="round">
          <ion-label>Difficult Weather</ion-label>
        </ion-button>

         <i class="im im-sun"></i>
        <ion-toggle #toggle1 ></ion-toggle>

        <i class="im im-cloud"></i>
      </ion-item>
     </ion-col>
     <ion-col size-xs="2" size-md="6">

     </ion-col>
     <ion-col size-xs="5" size-md="3">
      <ion-item>
<ion-button (click)="setOnline()" expand="block"  shape="round">
  <ion-label>Accept Orders</ion-label>
</ion-button>

        <i class="im im-thumb-down"></i>
        <ion-toggle #toggle2 ></ion-toggle>
        <i class="im im-thumb-up"></i>
      </ion-item>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col >
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Date</ion-card-subtitle>
            <ion-card-title>Orders</ion-card-title>
          </ion-card-header>
          <ion-card-content>
           <h1>19</h1>
          </ion-card-content>
        </ion-card>

          </ion-col>
          <ion-col >
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Online</ion-card-subtitle>
                <ion-card-title>Riders</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h1>19</h1>
              </ion-card-content>
            </ion-card>

              </ion-col>
    </ion-row>
    <ion-row>
     <ion-col>
      <ion-card>
        <ion-card-header>

          <ion-card-title>New </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h1>19</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>

          <ion-card-title>Live </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h1>19</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>

          <ion-card-title>Successful</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h1>19</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Failure</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h1>19</h1>
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
